build --bes_backend=grpcs://remote.buildbuddy.io
build --bes_results_url=https://app.buildbuddy.io/invocation/
build --build_metadata=REPO_URL=https://github.com/juanique/monorepo.git
build --keep_backend_build_event_connections_alive=false

# Detailed timing profile
build --noslim_profile
build --experimental_profile_include_target_label
build --experimental_profile_include_primary_output

## Remote caching
build --remote_download_outputs=minimal
build --remote_cache=grpcs://remote.buildbuddy.io
build --remote_header=x-buildbuddy-api-key=WIbWV8AieSxh4RlxUiRk
build --experimental_remote_cache_compression
build --experimental_remote_build_event_upload=minimal
build --nolegacy_important_outputs
build --noremote_upload_local_results

# We'll enable this someday and rely on MODULE.bazel
build --noenable_bzlmod


build:remote --remote_executor=grpcs://remote.buildbuddy.io
build:remote --extra_execution_platforms=//:docker_image_platform
build:remote --host_platform=//:docker_image_platform
build:remote --platforms=//:docker_image_platform
build:remote --remote_timeout=1800
build:remote --jobs=50

# mypy not working yet
build --aspects @mypy_integration//:mypy.bzl%mypy_aspect
build --output_groups=+mypy
build --@mypy_integration//:mypy_config=//bazel/workspace:mypy.ini

test --test_output=errors

# Hermetic C++ toolchain
build --incompatible_enable_cc_toolchain_resolution
build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --cxxopt='-std=c++14'
build --host_cxxopt=-std=c++14


# fully local build
build:full_local --bes_backend=""
build:full_local --bes_results_url=""
build:full_local --remote_cache=""
