build --bes_backend=grpcs://remote.buildbuddy.io
build --bes_results_url=https://app.buildbuddy.io/invocation/
build --build_metadata=REPO_URL=https://github.com/juanique/monorepo.git
build --keep_backend_build_event_connections_alive=false
build --remote_download_minimal

# We'll enable this someday and rely on MODULE.bazel
# build --experimental_enable_bzlmod


build:remote --remote_header=x-buildbuddy-api-key=WIbWV8AieSxh4RlxUiRk
build:remote --remote_cache=grpcs://remote.buildbuddy.io
build:remote --remote_executor=grpcs://remote.buildbuddy.io
build:remote --extra_execution_platforms=//:docker_image_platform
build:remote --host_platform=//:docker_image_platform
build:remote --platforms=//:docker_image_platform
build:remote --noremote_upload_local_results # Uploads logs & artifacts without writing to cache
build:remote --remote_timeout=1800
build:remote --experimental_remote_cache_compression
build:remote --jobs=50


# mypy not working yet
# build --aspects @mypy_integration//:mypy.bzl%mypy_aspect
# build --output_groups=+mypy

test --test_output=errors
