{
    "jsc": {
        "parser": {
            "syntax": "typescript"
        },
        "transform": {
            "react": {
                "runtime": "automatic"
            }
        }
    },
    "module": {
        "type": "es6"
    }
}
